body {
	background: #EBF2F1;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #00010D;
	padding: 0;
	margin: 0;
	max-width: 100vw;
	margin-top: 50px;
}

.section-column {
	margin-left: 25%;
	margin-right: 25%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.section-row {
	margin-left: 25%;
	margin-right: 25%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	padding: 20px;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: auto;
}

.left {
	text-align: left;
	margin: 0;
}

hr.underline {
	margin: 20px 0 0 0;
	border: 0px;
	border-bottom: 1px solid black;
}

.about {
	width: 50%;
	text-align: left;
}

.about p {
	text-indent: 50px;
	letter-spacing: 1px;
}

.right.experience-education {
	width: 50%;
	text-align: right;	
}

.right.experience-education p {
	margin: 0;
	letter-spacing: 1px;
}

.duration {
	font-style: italic;
}

.title {
	font-weight: bold;
}

.name {
	padding-bottom: 20px;
}

.skills-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap;
}

.skill {
	margin: 5px 5px 5px 0;
	padding: 10px 10px 10px 10px;
	background: #6099A6;
	text-align: center;
}

.languages-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap;
}

.language {
	margin: 5px 5px 5px 0px;
	padding: 10px 10px 10px 10px;
	background: #6099A6;
	text-align: center;
}

.projects-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: nowrap;
}

.project {
	width: 33.3333%;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	background: #6099A6;
	text-align: center;
	border-radius: 4px;
}

.project a {
	color: #EBF2F1;
}

.project p {
	padding: 0 20px 0 20px;
}

.project i {
	margin: 0 0 16px 0;
	padding: 0 20px 0 20px;
	color: #EBF2F1;
}

.github {
	color: #EBF2F1;
	cursor: pointer;
	margin: 0 42.5% 0 42.5%;
	width: 33%;
}

footer {
	color: #EBF2F1;
	background: #024059;
}

footer a {
	color: #EBF2F1;
}